.date-picker-wrap {
    position: relative;
    width: 170px;
}

.date-picker-wrap .date-input {
    padding: 4px 8px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #000000;
}

.date-picker-wrap .date-picker-panel {
    position: absolute;
    left: 0;
    top: 30px;
    width: 280px;
    border-radius: 4px;
    box-shadow: 0px 0px 6px #cccccc;
    background: #ffffff;
    z-index: 20;
}

.date-picker-wrap .date-picker-panel .paner-header {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 6px #eeeeee;
    padding: 6px;
}

.select-year,
.select-month,
.select-today {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    background: none;
    border: none;
}


.select-year:hover,
.select-month:hover,
.select-today:hover {
    color: #1890ff;
}

.date-picker-wrap .date-picker-panel .paner-header button {
    cursor: pointer;
}


.date-picker-wrap .date-picker-panel .paner-content {
    box-shadow: 0 4px 6px #eeeeee;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row {
    display: flex;
    justify-content: flex-start;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row .datePicker-col {
    width: 12%;
    margin: 1%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row .datePicker-col-month {
    width: 31%;
    height: 60px;
    line-height: 60px;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row .datePicker-col-tenyear {
    width: 31%;
    height: 60px;
    line-height: 60px;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row .datePicker-col-tenyear:last-child {
    color: #cccccc;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row .datePicker-col-tenyear:first-child {
    color: #cccccc;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row .datePicker-col-hundredyear {
    width: 31%;
    height: 60px;
    line-height: 60px;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row .datePicker-col-hundredyear:last-child {
    color: #cccccc;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row .datePicker-col-hundredyear:first-child {
    color: #cccccc;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row .today {
    border: 1px solid #1890ff;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row .active {
    background: #1890ff;
    color: #ffffff;
}

.date-picker-wrap .date-picker-panel .paner-content .datePicker-row .datePicker-col:hover {
    background: rgba(24, 144, 255, 0.4);
    color: #ffffff;
}

.date-picker-wrap .date-picker-panel .paner-footer {
    padding: 6px;
}

.date-picker-wrap .date-picker-panel .paner-footer button {
    cursor: pointer;
}

.date-picker-wrap .date-picker-panel .paner-footer :last-child {
    float: right;
}