/* panel start */

.M365Panel-box {
    border-bottom: 1px solid #a09c9c;
}

.M365Panel-wrap {
    width: 100%;
    border-left: 1px solid #a09c9c;
    border-right: 1px solid #a09c9c;
}

.M365Panel-wrap .M365Panel-header {
    padding: 6px 10px;
    background: #efefef;
    cursor: pointer;
    border-top: 1px solid #a09c9c;
    text-align: left;
}

.M365Panel-wrap .M365Panel-content {
    padding: 6px 10px;
    height: auto;
    transition: height 1s;
    overflow: hidden;
    border-top: 1px solid #a09c9c;
    text-align: left;
}

.M365Panel-wrap .M365Panel-content-empty {
    overflow: hidden;
    height: 0;
}

/* panel end */